@theme {
  --animate-progress-fill: progress-fill 700ms ease-out both;
  --animate-accordion-down: accordion-down 200ms ease-out;
  --animate-accordion-up: accordion-up 200ms ease-out forwards;
  --animate-text-rise: text-rise 800ms ease-out both;
}

@keyframes progress-fill {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes text-rise {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-sonner-toaster] [data-sonner-toast][data-removed='true'] {
  --y: translateY(0) !important;
  transform: translateY(0) !important;
  opacity: 0 !important;
  transition: opacity 300ms ease !important;
}
